.container{
    display: flex;
    flex-direction: row;
}
.chatRoomContainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5vh;
    width: 15vw;
    height: 75vh;
    background-color: rgb(250, 208, 40);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    overflow: scroll;

}
.roomsTitle{
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    font-size:calc(12px + 1.2vw);
    font-family: 'Arvo', serif;
    text-decoration: underline;
}
.chooseRoomTitle{
    font-family: 'Arvo', serif;
    text-decoration: underline;
    margin-left: 32vw;
    margin-top: 10vh;
    font-size: 4vw;
    color: white;
}
.userTitle{ 
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size:calc(12px + 0.2vw);
    font-family: 'Arvo', serif;
    text-decoration: underline;
}
.rooms{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 14vw;
    height: 55vh;
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
    margin-bottom: 1vh;
    background-color: white;
    overflow: scroll;
}
.roomTitle{
    font-family: 'Arvo', serif;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;
    cursor: pointer;
    box-shadow: 2px 2px 2px;
}
.roomTitle:hover{
    background-color: aqua;
}